 <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
	    <ul class="nav navbar-nav navbar-leght">
	      	<li><a href="#/home"><span class="glyphicon glyphicon-home"></span></a></li>
	    </ul>

	    <ul class="nav navbar-nav navbar-right">
	      	<li  ng-if="!id"><a href="#/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
	      	<li  ng-if="!id"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      	<li  ng-if="id"><a href="#/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	    </ul>
  	</div>
</div>

<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<h1>Rest Net</h1>
				<p>online restaurant reservation service</p>
			</div>
			<div class="col-md-2">
				<img src="images/restaurant.jpg"/>
			</div>
		</div>
	</div>
</div>