<div id="home">

	<div ng-if="role == 'A'">
		<uib-tabset>
		    <uib-tab heading="Restaurants" active="true">
		    	<button type="button" class="btn btn-default" ng-click="addRestaurant()">
	        		<span style="font-size: 150%" class="glyphicon glyphicon-plus"></span>
	    		</button>
		      	<table class="table table-bordered table-striped">
		      	<tr>
		      		<th>Name</th>
		      		<th>Type of restaurant</th>
		      		<th>Longitude</th>
		      		<th>Latitude</th>
		      	</tr>
		      	<tr ng-repeat="row in restaurants">
	      			<td>{{row.name}}</td>
	      			<td>{{row.type}}</td>
	      			<td>{{row.longitude}}</td>
	      			<td>{{row.latitude}}</td>
	      		</tr>
		      </table>
		    </uib-tab>
		    <uib-tab heading="Managers" active="false">
		    	<button type="button" class="btn btn-default" ng-click="addManager()">
	        		<span style="font-size: 150%" class="glyphicon glyphicon-plus"></span>
	    		</button>
		      	<table class="table table-bordered table-striped">
		      	<tr>
		      		<th>Username</th>
		      		<th>Password</th>
		      		<th>Restaurant</th>
		      	</tr>
		      	<tr ng-repeat="row in managers">
	      			<td>{{row.username}}</td>
	      			<td>{{row.password}}</td>
	      			<td>{{row.restaurant.name}}</td>
	      		</tr>
		      </table>
		    </uib-tab>
	  	</uib-tabset>
  	</div>





  	<div ng-if="role == 'M'">
  		<uib-tabset>
		    <uib-tab heading="Restaurant" active="true">
		    	<button type="button" class="btn btn-default" ng-click="editRestaurant()">
	        		<span style="font-size: 150%" class="glyphicon glyphicon-edit"></span>
	    		</button>
		      	<table class="table table-bordered table-striped">
		      	<tr>
		      		<th>Name</th>
		      		<td>{{restaurant.name}}</td>
		      	</tr>
		      	<tr>
		      		<th>Type of restaurant</th>
		      		<td>{{restaurant.type}}</td>
		      	</tr>
		      	<tr>
		      		<th>Position</th>
		      		<td>{{restaurant.longitude + "," + restaurant.latitude}} </td>
		      	</tr>
		      	
		      </table>
		    </uib-tab>
		    <uib-tab heading="Menu" active="false">
		    	<button type="button" class="btn btn-default" ng-click="addFood()">
	        		<span style="font-size: 150%" class="glyphicon glyphicon-plus"></span>
	    		</button>
		      	<table class="table table-bordered table-striped">
			      	<tr>
			      		<th>Name</th>
			      		<th>Description</th>
			      		<th>Price</th>
			      		<th>.</th>
			      		<th>.</th>
			      	</tr>
			      	<tr ng-repeat="row in menu">
		      			<td>{{row.name}}</td>
		      			<td>{{row.description}}</td>
		      			<td>{{row.price}}</td>
		      			<td>
		      				<button type="button" class="btn btn-default" ng-click="editFood(row)">
	        					<span style="font-size: 150%" class="glyphicon glyphicon-edit"></span>
	    					</button>
	    				</td>
	    				<td>
		      				<button type="button" class="btn btn-default" ng-click="removeFood(row.id)">
	        					<span style="font-size: 150%" class="glyphicon glyphicon-remove"></span>
	    					</button>
	    				</td>
		      		</tr>
		      </table>
		    </uib-tab>
		    <uib-tab heading="Tables configuration" active="false">
		    	<table class="table table-bordered table-striped">
			      	<tr ng-repeat="x in tables.rows">
			      		<td ng-repeat="y in tables.columns">
			      			<input type="text" class="form-control" ng-disabled="tables.saved" ng-model="tables.content[x][y]"/>
			      		</td>
			      	</tr>
		      	</table>
		      	<button ng-if="!restaurant.configured" type="button" class="btn btn-default" ng-click="saveConfig()">
	        		<span style="font-size: 150%" class="glyphicon glyphicon-save"></span>
	    		</button>

		    </uib-tab>
	  	</uib-tabset>
  	</div>

  	<div ng-if="role == 'G'">
		<uib-tabset>
		    <uib-tab heading="Restaurants" active="true">
		      	<table class="table table-bordered table-striped">
			      	<tr>
			      		<th>
			      			<button type="button" class="btn btn-default" ng-click="order('name')">Name
         						<span ng-show="predicate == 'name' && !reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-up"></span>
         						<span ng-show="predicate == 'name' &&  reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-down"></span>
         					</button>
			      		</th>
			      		<th>
			      			<button type="button" class="btn btn-default" ng-click="order('type')">Type
         						<span ng-show="predicate == 'type' && !reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-up"></span>
         						<span ng-show="predicate == 'type' &&  reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-down"></span>
         					</button>
			      		</th>
			      		<th>
			      			<button type="button" class="btn btn-default" ng-click="order('distance')">Distance (km)
         						<span ng-show="predicate == 'distance' && !reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-up"></span>
         						<span ng-show="predicate == 'distance' &&  reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-down"></span>
         					</button>
         				</th>
			      		<th>Total rating</th>
			      		<th>Friends rating</th>
			      		<th>Reserve</th>
			      	</tr>
			      	<tr ng-repeat="row in restaurants | orderBy:predicate:reverse">
		      			<td><a href="#/restaurant/{{row.id}}">{{row.name}}</a></td>
		      			<td>{{row.type}}</td>
		      			<td>{{row.distance}}</td>
		      			<td>
		      				<uib-rating ng-model="row.totalRating" x="5" readonly="true"></uib-rating>
		      			</td>
		      			<td>
		      				<uib-rating ng-model="row.friendsRating" x="5" readonly="true"></uib-rating>
		      			</td>
		      			<td>
		      				<button type="button" class="btn btn-default" ng-disabled="!row.configured" ng-click="startReservation(row.id)">
	        					<span style="font-size: 150%" class="glyphicon glyphicon-cutlery"></span>
	    					</button>
		      			</td>
		      		</tr>
		      	</table>
		    </uib-tab>
		    <uib-tab heading="Friends" active="false">  	
		      	<table class="table table-bordered table-striped">
			      	<tr>
			      		<th>
			      			<button type="button" class="btn btn-default" ng-click="order('name')">Name
         						<span ng-show="predicate == 'name' && !reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-up"></span>
         						<span ng-show="predicate == 'name' &&  reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-down"></span>
         					</button>
			      		</th>
			      		<th>
			      			<button type="button" class="btn btn-default" ng-click="order('surname')">Surname
         						<span ng-show="predicate == 'surname' && !reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-up"></span>
         						<span ng-show="predicate == 'surname' &&  reverse" style="font-size: 150%" class="glyphicon glyphicon-chevron-down"></span>
         					</button>
			      		</th>
			      		<th>Number of visits</th>
			      		<th>remove</th>
			      	</tr>
			      	<tr ng-repeat="row in friends | orderBy:predicate:reverse">
		      			<td>{{row.name}}</td>
		      			<td>{{row.surname}}</td>
		      			<td>{{row.numberOfVisits}}</td>
		      			<td>
		      				<button type="button" class="btn btn-default" ng-click="removeFriend(row.id)">
	        					<span style="font-size: 150%" class="glyphicon glyphicon-remove"></span>
	    					</button>
		      			</td>
		      		</tr>
		      	</table>
		      	<input type="text" ng-model="friend_name.name" placeholder="Search guests by name"/>
		      	<input type="text" ng-model="friend_name.surname" placeholder="Search guests by surname"/>
		      	<table ng-if="friend_name.name || friend_name.surname" class="table table-bordered table-striped">
			      	<tr>
			      		<th>Name</th>
			      		<th>Surname</th>
			      		<th>Number of visits</th>
			      		<th>Add</th>
			      	</tr>
			      	<tr ng-repeat="row in notfriends | filter : friend_name">
		      			<td>{{row.name}}</td>
		      			<td>{{row.surname}}</td>
		      			<td>{{row.numberOfVisits}}</td>
		      			<td>
		      				<button type="button" class="btn btn-default" ng-click="addFriend(row.id)">
	        					<span style="font-size: 150%" class="glyphicon glyphicon-plus"></span>
	    					</button>
		      			</td>
		      		</tr>
		      	</table>
		    </uib-tab>
		    <uib-tab>
		    	<uib-tab-heading>
        			Visits <span ng-if="unrated" class="badge">{{unrated}}</span>
      			</uib-tab-heading>
		      	<table class="table table-bordered table-striped">
			      	<tr>
			      		<th>Restaurant</th>
			      		<th>Date</th>
			      		<th>Rating</th>
			      		<th>Friends</th>
			      	</tr>
			      	<tr ng-repeat="row in visits">
		      			<td>{{row.reservation.restaurant.name}}</td>
		      			<td>{{row.dateX}}</td>
		      			<td>
		      				<uib-rating ng-model="row.rating" x="5" readonly="row.rated" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
		      				<button ng-if="row.rated == false" type="button" class="btn btn-default" ng-click="rateVisit(row.id, row.rating)">
	        					<span style="font-size: 150%" class="glyphicon glyphicon-check"></span>
	    					</button>
		      			</td>
		      			<td><p ng-repeat="f in row.friends">{{f}}</td>
		      		</tr>
		      	</table>
		    </uib-tab>
		    <uib-tab heading="Accout">
		    	<button type="button" class="btn btn-default" ng-click="editAccount()">
	        		<span style="font-size: 150%" class="glyphicon glyphicon-edit"></span>
	    		</button>
		      	<table class="table table-bordered table-striped">
			      	<tr>
			      		<th>Name</th>
			      		<th>Surname</th>
			      		<th>e-mail</th>
			      		<th>Address</th>
			      	</tr>
			      	<tr>
		      			<td>{{guest.name}}</td>
		      			<td>{{guest.surname}}</td>
		      			<td>{{guest.username}}</td>
		      			<td>{{guest.address}}</td>
		      		</tr>
		      	</table>
		    </uib-tab>
	  	</uib-tabset>
  	</div>
	
</div>