<div id="invitation" class="panel panel-default">
    <h4>Invitation from {{friend.name}}</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Restaurant</th>
            <th>From</th>
            <th>To</th>
        </tr>
        <tr>
            <td>{{reservation.restaurant.name}}</td>
            <td>
                {{date1}}
            </td>
            <td>
                {{date2}}
            </td>
        </tr>
    </table>

    <button type="button" class="btn btn-default" ng-click="accept(true)">
        <span style="font-size: 150%" class="glyphicon glyphicon-ok"></span>
    </button>

    <button type="button" class="btn btn-default" ng-click="accept(false)">
        <span style="font-size: 150%" class="glyphicon glyphicon-remove"></span>
    </button>

</div>