<div id="login" class="panel panel-default">

    <style type="text/css">
        .form-signin {
          max-width: 330px;
          padding: 15px;
          margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
          margin-bottom: 10px;
        }
        .form-signin .checkbox {
          font-weight: normal;
        }
        .form-signin .form-control {
          position: relative;
          height: auto;
          -webkit-box-sizing: border-box;
             -moz-box-sizing: border-box;
                  box-sizing: border-box;
          padding: 10px;
          font-size: 16px;
        }
        .form-signin .form-control:focus {
          z-index: 2;
        }
        .form-signin input[type="email"] {
          margin-bottom: -1px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
          margin-bottom: 10px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
    </style>
    
    <!-- <div class="panel-body">
        <alert type="danger" ng-if="alertMessage">{{alertMessage}}</alert>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-user" id="username_lbl" style="top: 0px;"></span>
            <input name="username" id="username_input" type="text" class="form-control" ng-model="username" placeholder="Username" aria-describedby="username_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-lock" id="passowrd_lbl" style="top: 0px;"></span>
            <input name="password" id="password_input" type="password" class="form-control" ng-model="password" placeholder="Password" aria-describedby="passowrd_lbl">
        </div>
        <button type="button" class="btn btn-default pull-right btn-lg tm-10" ng-click="login()">Login</button>
    </div> -->

    <div class="panel-body">
    <form class="form-signin">
        <h2 class="form-signin-heading">Please log in</h2>
        <label for="inputUername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Username" ng-model="username"  required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password"  ng-model="password"  required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Log in</button>
    </form>
      <alert type="danger" ng-if="alertMessage">{{alertMessage}}</alert>
    <div>
</div>