<div id="register" class="panel panel-default">
    <div class="panel-heading">
        <h3>Register</h3>
    </div>
    
    <div class="panel-body">
        <alert type="danger" ng-if="alertMessage">{{alertMessage}}</alert>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-user" id="name_lbl" style="top: 0px;"></span>
            <input name="name" id="name_input" type="text" class="form-control" ng-model="name" placeholder="Name" aria-describedby="name_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-user" id="surname_lbl" style="top: 0px;"></span>
            <input name="surname" id="name_input" type="text" class="form-control" ng-model="surname" placeholder="Surname" aria-describedby="surname_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-user" id="username_lbl" style="top: 0px;"></span>
            <input name="username" id="username_input" type="text" class="form-control" ng-model="username" placeholder="Username" aria-describedby="username_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-lock" id="passowrd_lbl" style="top: 0px;"></span>
            <input name="password" id="password_input" type="password" class="form-control" ng-model="password" placeholder="Password" aria-describedby="passowrd_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-lock" id="rpassowrd_lbl" style="top: 0px;"></span>
            <input name="rpassword" id="rpassword_input" type="password" class="form-control" ng-model="rpassword" placeholder="Repeat password" aria-describedby="rpassowrd_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon glyphicon glyphicon-user" id="address_lbl" style="top: 0px;"></span>
            <input name="address" id="address_input" type="text" class="form-control" ng-model="address" placeholder="address" aria-describedby="address_lbl">
        </div>
        <button type="button" class="btn btn-default pull-right btn-lg tm-10" ng-click="register()">Register</button>
    </div>

</div>