<div id="reserve2" class="panel panel-default">
    <style>
    </style>
    <table class="table">
        <tr>
            <th>Restaurant</th>
            <th>Date and time</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>{{restaurant.name}}</td>
            <td>
                {{date.toDateString() + " " + mytime.toTimeString()}}
            </td>
            <td>
                {{duration}} hours
            </td>
        </tr>
    </table>

    <div class="well">Configuration</div>

<!--     <button type="button" class="btn btn-default" ng-click="getReserved()">
        <span style="font-size: 150%" class="glyphicon glyphicon-play"></span>
    </button> -->

    <table class="table table-bordered table-striped">
        <tr ng-repeat="x in tables.rows">
            <td ng-repeat="y in tables.columns" ng-class="{success : true, danger: tables.content[x][y].reserved, warning: tables.content[x][y].name == 'x'}">
                <div class="checkbox">
                    <label ng-if="!(tables.content[x][y].name == 'x' || tables.content[x][y].reserved)">
                    <input type="checkbox" class="form-control" ng-disabled="false"
                    ng-model="tables.selected[x][y]" id="chkbx"/>
                    {{tables.content[x][y].name}}</label>
                 </div>
                    
                <div ng-if="tables.content[x][y].reserved" ng-model="tables.content[x][y].reserved">
                    {{tables.content[x][y].name}}
                </div>

                <div ng-if="tables.content[x][y].name == 'x'">
                    no table
                </div>
            </td>
        </tr>
    </table>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="67"
            aria-valuemin="0" aria-valuemax="100" style="width:67%">
            <span class="sr-only">67% Complete</span>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="inviteFriends()">
        <span style="font-size: 150%" class="glyphicon glyphicon-play">Complete reservation</span>
    </button>

</div>