<div id="reserve3" class="panel panel-default">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Restaurant</th>
            <th>Date and time</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>{{restaurant.name}}</td>
            <td>
                {{date.toDateString() + " " + mytime.toTimeString()}}
            </td>
            <td>
                {{duration}} hours
            </td>
        </tr>
    </table>
    <h4>Invite friends</h4>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Invite</th>
            
        </tr>
        <tr ng-repeat="row in friends">
            <td>{{row.name}}</td>
            <td>{{row.surname}}</td>
            <td>
                <input type="checkbox" class="form-control" ng-model="row.selected"/>
            </td>
            
        </tr>
    </table>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100" style="width:100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="finish()">
        <span style="font-size: 150%" class="glyphicon glyphicon-play">Invite friends</span>
    </button>

</div>