<div id="reserve1" class="panel panel-default">
    <table class="table table-bordered table-striped">
        <tr>
            <th>Restaurant</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration</th>
        </tr>
        <tr>
            <td>{{restaurant.name}}</td>
            <td>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
                
            <td>
                <uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="60"></uib-timepicker>
            </td>
            </td>
            <td>
                <div class="form-group">
                    <label for="dur">Hours:</label>
                    <input type="number" min="1" ng-model="duration" class="form-control" placeholder="1" id="dur"/>
                </div>
            </td>
        </tr>
    </table>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="33"
            aria-valuemin="0" aria-valuemax="100" style="width:33%">
            <span class="sr-only">33% Complete</span>
        </div>
    </div>

    <button type="button" class="btn btn-default" ng-click="reserveTables()">
        <span style="font-size: 150%" class="glyphicon glyphicon-play"> Choose table</span>
    </button>

</div>