<div id="restaurant" class="panel panel-default">
    <div class="container">
        <div class="row">
            <div class="col-md-11 text-center">
                <h4>{{restaurant.name}}</h4>
                </h5>{{restaurant.type}}</h5>
                <div class="well"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="Well">Menu</div>
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                    <tr ng-repeat="row in menu">
                        <td>{{row.name}}</td>
                        <td>
                            {{row.description}}
                        </td>
                        <td>
                            {{row.price}}
                        </td>
                    </tr>
                </table>
                <button type="button" class="btn btn-default" ng-disabled="!restaurant.configured" ng-click="startReservation(restaurant.id)">
                    <span style="font-size: 150%" class="glyphicon glyphicon-cutlery"></span>
                </button>
            </div>
            <div class="col-md-5">

                <div class="Well">Position</div>

                <ng-map zoom="11" center="[{{restaurant.latitude}}, {{restaurant.longitude}}]">
                    <marker position="[{{restaurant.latitude}}, {{restaurant.longitude}}]" />
<!--                     <shape name="circle" radius="400" center="[{{restaurant.latitude}}, {{restaurant.longitude}}]" radius="4000" /> -->
                    <control name="overviewMap" opened="true" />
                </ng-map>
            </div>
        </div>
    </div>
</div>