<div class="edit-modal">
    <h3>{{title}}</h3>
	
    <div class="input-group tm-5">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Name" ng-model="name"/>
    </div>
    
    <div class="input-group tm-5">
        <span class="input-group-addon">Description</span>
        <input type="text" class="form-control" placeholder="Password"  ng-model="description"/>
    </div>

    <div class="input-group tm-5">
        <span class="input-group-addon">Price</span>
        <input type="text" class="form-control" placeholder="Price" ng-model="price"/>
    </div>
    
    <alert type="danger" ng-if="alertMessage" class="tm-20">{{alertMessage}}</alert>
    
    <div class="tm-10" style="height: 34px">
		<button type="button" class="btn btn-default pull-right" ng-click="save()"><span class="glyphicon glyphicon-save"></span>Save</button>
		<button type="button" class="btn btn-default pull-right rm-10" ng-click="close()"><span class="glyphicon glyphicon-remove"></span>Close</button>
    </div>
</div>