<div class="edit-modal">
    <h3>{{title}}</h3>
	
    <div class="input-group tm-5">
        <span class="input-group-addon" id="name-edit">Name</span>
        <input type="text" class="form-control" placeholder="Name" aria-describedby="name-edit" ng-disabled="nameDisabled" ng-model="name"/>
    </div>
    
    <div class="input-group tm-5">
        <span class="input-group-addon" id="name-edit">Type</span>
        <input type="text" class="form-control" placeholder="Type of restaurant" aria-describedby="type-edit" ng-disabled="typeDisabled" ng-model="type"/>
    </div>

    <div class="input-group tm-5">
        <span class="input-group-addon" id="latitude-edit">Latitude</span>
        <input type="text" class="form-control" placeholder="Latitude" aria-describedby="latitude-edit" ng-disabled="latitudeDisabled" ng-model="latitude"/>
    </div>

    <div class="input-group tm-5">
        <span class="input-group-addon" id="longitude-edit">Longitude</span>
        <input type="text" class="form-control" placeholder="Longitude" aria-describedby="longitude-edit" ng-disabled="longitudeDisabled" ng-model="longitude"/>
    </div>
    
    <alert type="danger" ng-if="alertMessage" class="tm-20">{{alertMessage}}</alert>
    
    <div class="tm-10" style="height: 34px">
		<button type="button" class="btn btn-default pull-right" ng-click="save()"><span class="glyphicon glyphicon-save"></span>Save</button>
		<button type="button" class="btn btn-default pull-right rm-10" ng-click="close()"><span class="glyphicon glyphicon-remove"></span>Close</button>
    </div>
</div>