<div class="edit-modal">
    <h3>{{title}}</h3>
	
    <div class="input-group tm-5">
        <span class="input-group-addon">Name</span>
        <input type="text" class="form-control" placeholder="Name" ng-model="username"/>
    </div>
    
    <div class="input-group tm-5">
        <span class="input-group-addon">Password</span>
        <input type="password" class="form-control" placeholder="Password"  ng-model="password"/>
    </div>

    <div class="input-group tm-5">
        <span class="input-group-addon">Repeat password</span>
        <input type="password" class="form-control" placeholder="Password" ng-model="rpassword"/>
    </div>

<!--     <div class="input-group tm-5">
        <span class="input-group-addon" id="longitude-edit">Restaurant</span>
        <input type="text" class="form-control" placeholder="Longitude" aria-describedby="longitude-edit" ng-disabled="longitudeDisabled" ng-model="restaurant"/>
    </div> -->

    <div class="input-group tm-5">
        <span class="input-group-addon">Restaurant</span>
        <select ng-model="restaurant" class="form-control">
            <option value="">-</option>
            <option ng-repeat="r in restaurants" value="{{r.id}}">{{r.name}}</option>
        </select> 
    </div>
    
    <alert type="danger" ng-if="alertMessage" class="tm-20">{{alertMessage}}</alert>
    
    <div class="tm-10" style="height: 34px">
		<button type="button" class="btn btn-default pull-right" ng-click="save()"><span class="glyphicon glyphicon-save"></span>Save</button>
		<button type="button" class="btn btn-default pull-right rm-10" ng-click="close()"><span class="glyphicon glyphicon-remove"></span>Close</button>
    </div>
</div>