<div id="register" class="panel panel-default">
    <div class="panel-heading">
        <h3>Update account</h3>
    </div>
    
    <div class="panel-body">
        <alert type="danger" ng-if="alertMessage">{{alertMessage}}</alert>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="name_lbl" style="top: 0px;">Name</span>
            <input name="name" type="text" class="form-control" ng-model="name" placeholder="Name" aria-describedby="name_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="surname_lbl" style="top: 0px;">Surname</span>
            <input name="surname" id="name_input" type="text" class="form-control" ng-model="surname" placeholder="Surname" aria-describedby="surname_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="username_lbl" style="top: 0px;">e-mail</span>
            <input name="username" id="username_input" type="text" class="form-control" ng-model="username" placeholder="e-mail" aria-describedby="username_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="passowrd_lbl" style="top: 0px;">Old password</span>
            <input name="password" id="password_input" type="password" class="form-control" ng-model="oldPassword" placeholder="Old assword" aria-describedby="passowrd_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="passowrd_lbl" style="top: 0px;">New password</span>
            <input name="password" id="password_input" type="password" class="form-control" ng-model="newPassword" placeholder="New assword" aria-describedby="passowrd_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="rpassowrd_lbl" style="top: 0px;">Repeat new password</span>
            <input name="rpassword" id="rpassword_input" type="password" class="form-control" ng-model="rnewPassword" placeholder="Repeat new password" aria-describedby="rpassowrd_lbl">
        </div>
        <div class="input-group input-group-lg tm-10">
            <span class="input-group-addon" id="address_lbl" style="top: 0px;">Address</span>
            <input name="address" id="address_input" type="text" class="form-control" ng-model="address" placeholder="address" aria-describedby="address_lbl">
        </div>
        <div class="tm-10" style="height: 34px">
            <button type="button" class="btn btn-default pull-right" ng-click="save()"><span class="glyphicon glyphicon-save"></span>Save</button>
            <button type="button" class="btn btn-default pull-right rm-10" ng-click="close()"><span class="glyphicon glyphicon-remove"></span>Close</button>
        </div>
    </div>

</div>